Content/AdvancedLocomotionV4/*
Content/Builder/*
Content/EmberGen*/*
Content/FluidNinja*/*
Content/Mannequin/*
Content/Megascans/*
Content/MSPresets/*
Content/PropMasterMaterials*/*
Content/ThirdPerson/*
Content/ThirdPersonBP/*
Plugins/VoxelFree/*
Plugins/HoudiniEngine/*
Saved/*
Intermediate/*